<div class="container">
  <img [src]="event?.imageUrl" [alt]="event?.name" class="event-image">

  <div class="row">
    <div class="col-md-11">
      <h2>{{event?.name | uppercase}} </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div><strong>Date:</strong> {{event?.date | date}}</div>
      <div><strong>Time:</strong> {{event?.time}}</div>
      <div><strong>Price:</strong> {{event?.price | currency}}</div>
    </div>
    <div class="col-md-6">
      <address>
        <strong>Address:</strong><br />
        {{event?.location?.address}}<br />
        {{event?.location?.city}}, {{event?.location?.country}}
      </address>
    </div>
  </div>
</div>
<hr>
<div class="row container">
  <div class="col-xs-2">
    <button class="btn btn-primary" (click)="viewSessions()" style="margin:0">Sessions</button>
  </div>
  <div class="col-xs-8">
    <button class="btn btn-default" [class.active]="filterBy==='all'" (click)="filterBy='all'">All</button>
    <button class="btn btn-default" [class.active]="filterBy==='beginner'"
      (click)="filterBy='beginner'">Beginner</button>
    <button class="btn btn-default" [class.active]="filterBy==='intermediate'"
      (click)="filterBy='intermediate'">Intermediate</button>
    <button class="btn btn-default" [class.active]="filterBy==='advanced'"
      (click)="filterBy='advanced'">Advanced</button>
  </div>
  <div *ngIf="!addMode" class="col-xs-2" style="margin-bottom:20px">
    <button class="btn btn-primary" (click)="addSession()">Add Session</button>
  </div>
</div>
<create-session (newSession)="saveSession($event)" (cancelAddSession)="viewSessions()" *ngIf="addMode"></create-session>
<session-list [filterBy]="filterBy" *ngIf="!addMode" [sessions]="event?.sessions"></session-list>
