<div class="container">
  <img [src]="event?.imageUrl" [alt]="event?.name" class="event-image">

  <div class="row">
    <div class="col-md-11">
      <h2>{{event?.name}} </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div><strong>Date:</strong> {{event?.date}}</div>
      <div><strong>Time:</strong> {{event?.time}}</div>
      <div><strong>Price:</strong> ${{event?.price}}</div>
    </div>
    <div class="col-md-6">
      <address>
        <strong>Address:</strong><br />
        {{event?.location?.address}}<br />
        {{event?.location?.city}}, {{event?.location?.country}}
      </address>
    </div>
  </div>
</div>
<hr>
<div class="row container">
  <div class="col-xs-2">
    <button class="btn btn-primary" (click)="viewSessions()" style="margin:0">Sessions</button>
  </div>

  <div class="col-xs-2">
    <button class="btn btn-primary" (click)="addSession()">Add Session</button>
  </div>
</div>
<create-session (newSession)="saveSession($event)" (cancelAddSession)="viewSessions()" *ngIf="addMode"></create-session>
<session-list *ngIf="!addMode" [sessions]="event?.sessions"></session-list>
