<div *ngIf="filteredSessions?.length===0" class="col-md-10" style="margin-top: 40px; font-weight:800; text-align:center">
  There're no sessions for this level.
</div>

<div class="row container" *ngFor="let session of filteredSessions">
  <div *ngIf="filteredSessions" class="col-md-11">
    <collapsible>
      <div title>
        {{session.name}}
        <i *ngIf="session.voters.length > 3" class="glyphicon glyphicon-fire" style="color:red"></i>
      </div>
      <div body>
        <h6>{{session.presenter}}</h6>
        <span>Duration: {{session.duration | duration}}</span><br />
        <span>Level: {{session.level}}</span>
        <p>{{session.abstract}}</p>
      </div>
    </collapsible>
  </div>
</div>
